h1, td, th {
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

code 
{
    font-size: 24px;
    margin-left: 20%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table
{
    margin-top: 40px;
    width: 60%;
    margin-left: 20%; 
    margin-right: 20%; 
    text-align: center;
}

th
{
    height: 32px;
}

code
{
    padding-bottom: 32px;
}